/****** GENERAL ******/

body {
    background-color: #EDEDED;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
    width: 100%;
}

img {
    width: 100%;
    margin-bottom: 2vw;
}

section {
    max-width: 1400px;
    margin: 0 auto;
}

/* Stjernen (*) kalder alle dine elementer i din kode */
/* Box-sizing: Inkluderer et elements padding og border i dens totale width og hight - Koden under sørger for at alle elementer skaleres på den mest intuitive måde muligt  */
* {
    box-sizing: border-box;
}

/****** HEADER ******/

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: black;
    width: 100%;
}

header nav a:hover {
    color: rgb(255, 165, 0);
}

/****** BURGERMENU ******/

.hidden {
    transform: scale(0);
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top left;
}

@media only screen and (min-width: 500px) {
    #menuknap {
        display: none;
    }

    #menu {
        transform: none;
        transition: transform 0s;
        position: static;
    }
}


/****** BACK TO TOP BUTTON ******/
/****** LÅNT FRA W3SCHOOLS: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp******/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: white;
    /* Set a background color */
    color: black;
    /* Text color */
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(255, 165, 0);
    /* Add a dark-grey background on hover */
}

/****** OM ******/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#om .column {
    flex-grow: 1;
    flex-basis: 600px;

    flex-direction: column;
    justify-content: flex-start;
}

#om .column img {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

#om .column p {
    margin-bottom: 30px;
    line-height: 2rem
}

.signature {
    width: 300px;
    height: 130px;
    margin: 50px 0px 50px 0px;
}

/****** CV ******/

#cv {
    text-align: center;
    margin: 150px 0px 150px 0px;
}

#cv h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin-top: 30px;
    color: black;
    width: 100%;
}


/****** PORTFOLIO ******/

#portfolio {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery a {
    flex-basis: 250px;
    flex-grow: 1;
}

.gallery img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

/****** FOOTER ******/

.logo {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}

#footer p {
    text-align: center;
    color: black;
}

/****** PORTFOLIO SIDER ******/

.portfolio_splash {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project_text {
    margin: 0vw 5vw 10vw 5vw;
}

.project_text h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 5rem;
    color: black;
    width: 100%;
    margin: auto;
}

.project_text h2 {
    text-align: center;
    font-family: 'Roboto thin', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: black;
    width: 100%;
}

.project_text p {
    text-align: center;
}

@media only screen and (max-width: 620px) {
    .portfolio_splash {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
    }
}

/****** SCROLL DOWN ARROW ******/
/****** LÅNT FRA CODEPEN: https://codepen.io/codeconvey/pen/GNGYOB******/

#arrow img {
    width: 40vw;
    height: 40vw;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.downArrow {
    position: fixed;
    bottom: 1%;
    left: 50%;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #2ecc71;
}
